/* Reference: https://dcode.domenade.com/tutorials/how-to-create-a-dice-roll-game-with-html-css-and-javascript */

.dice-container {
    display: flex;
}

.roll-button, .next-round-button {
    margin-top: 10px;
    font-size: 1.5rem;
}

.dice {
    width: 150px;
    height: 150px;
    margin: 5px;
    position: relative;
    border-radius: 25px;
    border: solid 2px black;
}

.dice.selected {
    border-color: red;
}

.dice-dot {
    --top: 0%;
    --left: 0%;

    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.score-sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
}

.grid div {
    border: 1px solid black;
    padding: 20px;
}

